In [2]:
import sqlite3

import csv

In [4]:
file = csv.reader(open("data/input.csv"), delimiter=",")
header = next(file)

conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

for row in file:
    data = []
    for col in range(len(header)):
        data.append(row[col])
        
    cur.execute("insert into suppliers values(?, ?, ?, ?, ?)", data)
    
conn.commit()
conn.close()

In [6]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "select * from suppliers"

cur.execute(sql)

for row in cur:
    print(row)


conn.close()

('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')
('B', '001-1006', '7009', 250000.0, '2018-01-30')
('B', '001-1007', '6650', 125000.0, '2017-02-03')
('B', '001-1008', '6650', 125000.0, '2017-02-03')
('C', '001-1009', '3321', 615000.0, '2017-02-03')
('C', '001-1010', '3321', 615000.0, '2017-02-10')
('C', '001-1011', '3321', 615000.0, '2017-02-17')
('C', '001-1012', '3321', 615000.0, '2017-02-24')
('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')
('B', '001-1006', '7009', 250000.0, '2018-01-30')
('B', '001-1007', '6650', 125000.0, '2017-02-03')
('B', '001-1008', '6650', 125000.0, '2017-02-03')
('C', '001-1009', '3321', 615000.0, '2017-02-03')
('C', '001-1010', '3321', 615000.0, '2017-02-10')
('C', '001-1011', '3321', 615000.0, '2017-02-17')
('C', '001-1012', '3321', 615000.0, '2017-02-24')
('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')
('B', '001-1006', '7009', 250000.0, '2018-01-30')
('B', '001-1007', '6650', 125000.0, '2017-02-03')
('B', '001-1008', '6650', 125000.0, '2017-02-03')
('C', '001-1009', '3321', 615000.0, '2017-02-03')
('C', '001-1010', '3321', 615000.0, '2017-02-10')
('C', '001-1011', '3321', 615000.0, '2017-02-17')
('C', '001-1012', '3321', 615000.0, '2017-02-24')

In [8]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "insert into suppliers values('hong', 5, 4, 6, 50)"
cur.execute(sql)

conn.commit()
conn.close()

In [9]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "delete from suppliers where 'supplier name'='hong'"

cur.execute(sql)

conn.commit()
conn.close()

In [ ]:
db.books.inset()

db.createCollections("books")

In [ ]:
db.emp.find({"empno":{$gt:3}}).pretty()