In [3]:
import sqlite3

In [5]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "select * from suppliers"
cur.execute(sql)

for row in cur:
    print(row)

conn.close()

('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')
('B', '001-1006', '7009', 250000.0, '2018-01-30')
('B', '001-1007', '6650', 125000.0, '2017-02-03')
('B', '001-1008', '6650', 125000.0, '2017-02-03')
('C', '001-1009', '3321', 615000.0, '2017-02-03')
('C', '001-1010', '3321', 615000.0, '2017-02-10')
('C', '001-1011', '3321', 615000.0, '2017-02-17')
('C', '001-1012', '3321', 615000.0, '2017-02-24')

In [12]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "create table supplier(suppliers_name varchar(20), cost float);"
cur.execute(sql)

conn.commit

conn.close()

In [15]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "insert into supplier values('hong', 5000);"

cur.execute(sql)

conn.commit()
conn.close()

In [17]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "delete from supplier"

cur.execute(sql)

conn.commit()

conn.close()

In [18]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

sql = "select * from supplier"

cur.execute(sql)

for row in cur:
    print(row)
    
conn.close()

In [19]:
import csv

In [22]:
file = csv.reader(open("data/input.csv", "r"))
header = next(file)
print(header)

conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

for row in file:
    data = []
    for col in range(len(header)):
        data.append(row[col])
    
    cur.execute("insert into suppliers values(?, ?, ?, ?, ?)", data)
    
conn.commit()
    
conn.close()

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']

In [24]:
conn = sqlite3.connect("data/sqlite_test.db")
cur = conn.cursor()

cur.execute("delete from suppliers")

for row in cur:
    print(row)

conn.close()

('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')
('B', '001-1006', '7009', 250000.0, '2018-01-30')
('B', '001-1007', '6650', 125000.0, '2017-02-03')
('B', '001-1008', '6650', 125000.0, '2017-02-03')
('C', '001-1009', '3321', 615000.0, '2017-02-03')
('C', '001-1010', '3321', 615000.0, '2017-02-10')
('C', '001-1011', '3321', 615000.0, '2017-02-17')
('C', '001-1012', '3321', 615000.0, '2017-02-24')
('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')
('B', '001-1006', '7009', 250000.0, '2018-01-30')
('B', '001-1007', '6650', 125000.0, '2017-02-03')
('B', '001-1008', '6650', 125000.0, '2017-02-03')
('C', '001-1009', '3321', 615000.0, '2017-02-03')
('C', '001-1010', '3321', 615000.0, '2017-02-10')
('C', '001-1011', '3321', 615000.0, '2017-02-17')
('C', '001-1012', '3321', 615000.0, '2017-02-24')